header {
    background-color: peachpuff;
}
.flex_container1{
    display: flex;
    
    
}
#left_1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    
}
#left_1 > h2{
    font-size: 30px;
    
}
#left_1 > h5{
    font-size: 20px;
    
}
#right_1{
   margin: auto;  
}
div > span{
    color: aliceblue;
    padding-left: 20px;
}
ul{
    list-style-type: none;
}
input{
    width: 245px;
    height: 40px;
    font-size: medium;
    font-weight: 500;
    padding-left: 20px;
    border-radius: 8px;
    border: 4px solid #000;
    background: #FFF;
}
button{
    width: 175px;
    height: 50px;
    border-radius: 8px;
    border: 4px solid #000;
    background: black;
    color: #FFF;
    font-size: medium;
    font-weight: 500;
}
.flex_container2{
    display: flex;
}
footer {
    background-color: #282828;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#left_2{
    margin: auto;
}
#left_2 > ul{
    color: #FFF;  
}
li{
    height: 30px;
    font-weight: 400;
}
#right_2{
    color: #FFF;
    font-weight: 400;
    margin: auto;
}